@font-face {
    font-family: 'nhlphoen';
    src: url('../fonts/NHL-Phoenix.ttf.woff') format('woff'),
          url('../fonts/NHL-Phoenix.ttf.eot') format('eot'),
          url('../fonts/nhlphoen.ttf') format('truetype'),
          url('../fonts/NHL-Phoenix.ttf.svg') format('svg');
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 15px;}
}

html, body{
  font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

body{
  background-image: url("../img/bg-menu.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

p{
  white-space: pre-line;
  text-align: justify;
  font-size: 1em;
  color:white;
  padding: 0 2em;
}

li{
  list-style-type: none;
}

iframe{
  border: none;
}

nav{
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

html, body, .map-container,.map-container img, .main-container{
  height: 100% !important;
}

html, body, nav, .main-container{
  margin: 0 !important;
}

html, body, nav, .navbar-collapse, .map-container, .menu-navbar, .menu-navbar a, #quizForm h4, #quizForm td{
  padding:0 !important;
}

#collapsingNavbar{
  border: none !important;
  overflow-x: hidden;
}

.site-title{
  color:white;
  position: relative;
  font-size: 1em;
  margin: 20px;
  font-family: 'nhlphoen',sans-serif;
}

.menu-navbar li, .map-container img{
  width: 100%;
}

.title-map, .title, .tips, .countdown-demo, .logo-navbar{
  text-align: center;
}

.logo-navbar{
  margin: 10px 0 10px 5px;
  vertical-align: middle;
  color: white;
  width: 40px;
  height: 40px;
}

.menu-navbar{
  margin-bottom: 15px !important;
}

.menu-navbar * {
  display: inline-block !important;
}

.menu-navbar img{
  width: 20px;
  margin-right: 15px;
  height: 20px;
}
.menu-navbar li{
  padding: 10px 0 10px 0;
}

.menu-navbar li:hover {
  transition: background-color 1s ease;
  text-decoration: none;
  background-color:#04c7d4;
}

.menu-navbar a{
  font-size: 1em;
  color: white !important;
  text-decoration: none;
  padding-left: 30px !important;
  width: 100%;
  height: 100%;
}

.menu-navbar a:hover{
  text-decoration: none;
}

.menu-navbar h6{
  color: white;
  padding-left: 2em;
}

.hamburg-button{
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    color: white;
    border: 2px solid white !important;
}

.hamburg-button:hover{
    background-color: transparent !important;
    border: 2px solid rgb(246, 203, 126) !important;
    color: rgb(246, 203, 126);
    transition: border-color 0.5s ease, color 0.5s ease;
}

.countdown-demo{
  position: absolute;
  bottom: -25%;
  width: 4vmax;
  right: 40%;
  background-color: rgba(1, 13, 25, 0.9);
  color: #c6b891;
  font-size: 0.8vmax;
  border: 0.15vmax solid #5e481e;
}

.tips {
    font-size: 1em;
    visibility: hidden;
    width: 5vmax;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -65%;
    left: -20%;
    margin-left: -5vmax;
    opacity: 0;
    transition: opacity 1s;
}
.tips::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.countdown-demo:hover .tips {
    visibility: visible;
    opacity: 1;
}
.baron-countdown{
  bottom: -10% !important;
}

.scuttler-countdown{
  right: -20% !important;
}

.rock-top-countdown{
  bottom: 90%;
}

.monsters{
  position: absolute;
}

.monsters>span{
  cursor: help;
}

.baron{
  width: 8%;
  height:17%;
  top:10.5%;
  left: 39.8%
}

.dragon{
  width: 6%;
  height:10%;
  top: 52.5%;
  left: 60%
}

.blue, .red{
  width: 5%;
  height:8%;
}

.frog, .scuttler{
  width: 3%;
  height:4.7%;
}

.bird, .rock, .wolf{
  width: 5%;
  height:6%;
}

.bird-a{
  top: 27%;
  left: 52.2%;
}

.bird-b{
  top: 50%;
  left: 49%;
}

.blue-a{
  top: 41.5%;
  left: 66%;
}

.blue-b{
  top: 32.5%;
  left: 35.5%;
}

.frog-a{
  top: 45.5%;
  left: 73%;
}

.frog-b{
  top: 33%;
  left: 30.5%;
}

.red-a{
  top: 18.2%;
  left: 49.2%;
}

.red-b{
  top: 57.5%;
  left: 52.2%
}

.scuttler-a{
  top: 58%;
  left: 67.2%;
}

.scuttler-b{
  top: 31.5%;
  left: 42.5%;
}

.rock-a{
  top: 12.5%;
  left: 49.2%;
}

.rock-b{
  top: 68%;
  left: 56%
}

.wolf-a{
  top: 33.5%;
  left: 64.5%;
}

.wolf-b{
  top: 42.9%;
  left: 36.3%
}

#quizForm{
  width:100%;
  color: white;
  height: 37.5vmax;
}

#quizForm h4{
  font-size: 1vmax;
  margin: 1.5vmax 0 0 0;
}

#quizForm td{
  font-size: 0.7vmax;
}

.tr-head{
  margin-top: 0 !important;
}

.tr-head h4{
  margin-top: 0 !important;
}

.main-container{
  padding: 20px;
  display:block;
  overflow:auto !important;
}

.main-container-competitive{
  background: url("../img/esport.jpg") no-repeat;
  background-size: cover;
}

.main-container-about{
  background: url("../img/freljord.jpg") no-repeat;
  background-size: cover;
}

.main-container-monster{
  background: url("../img/shadow_isles.jpg") no-repeat;
  background-size: cover;
}

.main-container-rank{
  background: url("https://i.ytimg.com/vi/MPxYPlLmESU/maxresdefault.jpg") no-repeat;
  background-size: cover;
}

.main-container-quiz{
  background: url("../img/bg-howling-abyss.jpg") no-repeat;
  background-size: cover;
}

#quiz-button{
  background: url("../img/bg-button.png") no-repeat;
  width: 8vmax;
  margin: 0 5vmax 5vmax 0;
  height: 2.5vmax;
  color: white;
  border: 0.1vmax #04c7d4 solid;
  float:right;
}

.canvasjs-chart-credit{
  display: none;
}

#chartContainer{
  margin-top: 7em;
}

.illustration{
  position: relative !important ;
  margin: 0 auto !important ;
  display: block !important ;
  width: 550px !important;
  height: 300px !important;
  margin-top: 2em !important;
}

#monsters-name{
  font-size: 2.5em !important;
}

.video{
  padding: 5%;
}

.title, .monsters-name{
  color: white;
  font-size: 4em;
  margin: 1em 0 0.2em 0;
  font-family: 'nhlphoen',sans-serif;
  text-shadow: 4px 5px 8px #000;
}

.title-map{
  color: white;
  position: absolute;
  font-size: 1.3em;
  margin: 2vmax 0 0 2vmax;
  font-family: 'nhlphoen',sans-serif;
  text-shadow: 4px 5px 8px #000;
}

.championship-table{
  position: relative;
  margin: 0 auto;
  display: table;
  margin-top: 4em;
  width: 600px;
  color: white;
  background-color: rgba(24, 31, 43, 0.6);
  border: 4px #5e481e double;
}

.championship-table td, .championship-table th{
  word-wrap: break-word;
  word-break: normal;
  padding: 10px 0 10px 0;
}

.championship-table td{
  font-size: 0.8em;
  padding-left: 20px;
}

.championship-table tr{
  width: 100%;
}

.championship-table th{
  font-size: 1em;
  padding-left: 20px;
}

.table-header{
  border: 1px #5e481e solid;
}
